.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
  height: 12.5rem;
  font-size: 2.5rem;
  font-weight: 700;
}

.header img {
  height: 2.25rem;
  margin: 0.75rem;
}

.header span {
  color: var(--blue);
}

span:nth-child(3) {
  color: var(--purple-dark);
}