.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 1.5rem - 52px);
}

.task{
  display: flex;
  width: 46rem;
  margin-top: 1.5rem;
  padding-top: 1.5rem;
}

.task > textarea{
  width: 100%;
  background: var(--gray-500);
  border: 0;
  resize: none;
  height: 3.37rem;
  padding: 1rem;
  border-radius: 8px;
  color: var(--gray-100);
  line-height: 1.4;
  margin-right: 0.5rem;
  overflow:hidden;
}



.task > textarea:focus{
  outline: none;
  border: 1px solid var(--purple-dark);
}

.task button[type=submit] {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  border: 0;
  background: var(--blue-dark);
  color: var(--white);
  font-weight: bold;
  cursor: pointer;
  font-size: 0.875rem;

  transition: background-color 0.1s;
}

.buttonPlusIcon {
  margin-left: 8px;
}

.task button[type=submit]:hover {
  background: var(--blue);
}

.info {
  display: flex;
  width: 46rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
}

.Newtasks{
  color: var(--blue);
  font-weight: bold;
  font-size: 0.75rem;
 
}

.Newtasks span {
  background-color: var(--gray-400);
  border-radius: 8px;
  color: var(--white);
  padding: 2px 8px;
}

.Endtasks{
  color: var(--purple-dark);
  font-weight: bold;
  font-size: 0.75rem;
 
}

.Endtasks span {
  background-color: var(--gray-400);
  border-radius: 8px;
  color: var(--white);
  padding: 2px 8px;
}

.footer {
  width: 46rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: 1px solid var(--gray-400);
  border-radius: 8px;
}

.footer .icon {
  margin-top: 88px;
  margin-bottom: 16px;
}

.footer span {
  font-weight: bold;
}

.footer task {
  margin-top: 24px;
}