.task {
  float:left;
  width: 46rem;
  padding: 16px 16px;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-100);
  margin-top: 12px; 
  background: var(--gray-500);
  border: 1px solid var(--gray-300);
  border-radius: 8px;
}

.task .taskText {
  float:left;
  width: 39.5rem;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 8px;
}

.task .finishedText{
  float:left;
  text-decoration: line-through;
  color: var(--gray-300);
  width: 39.5rem;
  word-wrap: break-word;
  margin-left: 12px;
  margin-right: 8px;
}


.task .completedCheckBox { 
  width: 24px;
  height: 24px;
  float:left;
  border-radius: 90px;
  fill: var(--blue);
  transition: background-color 0.1s;
}

.task .completedCheckBox:hover {
  background-color: var(--purple);
  border-radius: 90px;
}

.task button {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: rgb(0, 0, 0,0);
  border: 0;
  border-radius: 4px;
  color: var(--gray-300);
  transition: background-color 0.1s;
}

.task button:hover {
  color: var(--danger);
  background-color: var(--gray-400)
}

.task .circle { 
  float:left;
  width: 24px;
  height: 24px;
  border-radius: 90px;
  fill: var(--blue);
  transition: background-color 0.1s;
}

.task .circle:hover {
  background-color: var(--blue-dark);
  border-radius: 90px;
  opacity:0.6;
}

.task .checkBox { 
  float:left;
  width: 24px;
  height: 24px;
  
  border-radius: 90px;
  fill: var(--blue);
  transition: background-color 0.1s;
}

.task .checkBox:hover {
  background-color: var(--blue-dark);
  border-radius: 90px;
  opacity:0.6;
}